<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Locale\Format">
        <plugin disabled="false" name="Codepeak_Currency_Plugin_Magento_Framework_Locale\Format" sortOrder="10"
                type="Codepeak\Currency\Plugin\Magento\Framework\Locale\Format"/>
    </type>
</config>
